<footer class="footer">
    <div class="footer__block block no-margin-bottom">
        <div class="container-fluid text-center">
            <p class="no-margin-bottom">2018 &copy; Synker.</p>
        </div>
    </div>
</footer>
</div>

   <% include ../partials/scripts %>

    <script src="/libraries/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>