<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<base href="/">
<meta name="description" content="Synker media server">
<meta name="keywords" content="rtmp,hls,streaming,synker">
<meta name="author" content="Fazzani Heni">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" type="image/x-icon" href="favicon.ico?v="+ Math.trunc(Math.random()*999)>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet" href="/css/font-awesome.css">
<title><%=title%></title>
