<!-- views/partials/header.ejs -->
<nav id="topNav" class="navbar navbar-full navbar-static-top navbar-dark bg-inverse">
    <div class="container">
        <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
            &#9776;
        </button>
        <a class="navbar-brand" href="/">Synker Server Media</a>
        <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>