<div class="navbar fixed-bottom navbar-dark bg-dark shell">
    <div class="shell-wrap">
        <p class="shell-top-bar">Output</p>
        <ul class="shell-body" id="messages">
        </ul>
    </div>
</div>