<!-- Sidebar Navigation-->
<nav id="sidebar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="images/avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h5">Fazzani Heni</h1>
      <p>Administrator</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled" id="mainMenu">
    <li <% if (Page.currentPage==='home' ) { %> class="active"
      <% } %> >
        <a href="/">
          <i class="fa fa-home"></i>Home </a>
    </li>
    <li <% if (Page.currentPage==='playlist' ) { %> class="active"
      <% } %> >
        <a href="/playlist">
          <i class="fa fa-list-ul"></i>Playlist </a>
    </li>
    <li <% if (Page.currentPage==='about' ) { %> class="active" <% } %> >
        <a href="/about">
          <i class="fa fa-id-card"></i>About </a>
    </li>
    <li>
      <a href="#exampledropdownDropdown"  aria-expanded="true" data-toggle="collapse">
        <i class="fa fa-wrench"></i>Tools </a>
      <ul id="exampledropdownDropdown" <% if (Page.currentPage==='commandline'|| Page.currentPage==='player' ){ %> class="list-unstyled collapse show" <% } else { %> class="list-unstyled collapse" <% } %> >
        <li <% if (Page.currentPage==='commandline' ) { %>class="active"
          <% } %> >
            <a href="/commandline">
              <i class="fa fa-terminal"></i>Command Line</a>
        </li>
        <li <% if (Page.currentPage==='player' ) { %>class="active"
          <% } %> >
            <a href="/player">
              <i class="fa fa-file-video"></i>Web Player</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/login">
        <i class="icon-logout"></i>Login page </a>
    </li>
  </ul>
  <span class="heading">Extras</span>
  <ul class="list-unstyled">
      <li <% if (Page.currentPage==='stats' ) { %>class="active"
          <% } %> >
      <a href="/stats">
        <i class="fa fa-bar-chart"></i>Statistic </a>
    </li>
  </ul>
</nav>
<!-- Sidebar Navigation end-->