<!-- Sidebar Navigation-->
<nav id="sidebar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <img src="images/avatar-6.jpg" alt="..." class="img-fluid rounded-circle">
    </div>
    <div class="title">
      <h1 class="h5">Fazzani Heni</h1>
      <p>Administrator</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus-->
  <span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active">
      <a href="/">
        <i class="icon-home"></i>Home </a>
    </li>
    <li>
      <a href="/playlist">
        <i class="icon-grid"></i>Playlist </a>
    </li>
    <li>
      <a href="/about">
        <i class="icon-settings"></i>About </a>
    </li>
    <li>
      <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse">
        <i class="icon-windows"></i>Tools </a>
      <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
        <li>
          <a href="/commandline">Command Line</a>
        </li>
        <li>
          <a href="/player">Web Player</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/login">
        <i class="icon-logout"></i>Login page </a>
    </li>
  </ul>
  <span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li>
      <a href="/stats">
        <i class="fa fa-bar-chart"></i>Statistic </a>
    </li>
  </ul>
</nav>
<!-- Sidebar Navigation end-->