<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body data-spy="scroll" data-target="#navbar-example">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="d-flex align-items-stretch">
        <% include ../partials/sidebar %>
            <div class="page-content">
                <div class="page-header">
                    <div class="container-fluid">
                        <h2 class="h5 no-margin-bottom">Home</h2>
                    </div>
                </div>
                <section class="no-padding-top no-padding-bottom">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <select class="custom-select" id="examples_select">
                                <option selected value="-1">Select Video example...</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form class="form-horizontal" role="form" method="post" action="/api/v1/ffmpeg/live" id="sendCommandStreamForm">
                                <div class="form-group col-lg-12">
                                    <label for="name" class="col-sm-2 control-label">Stream Url</label>
                                    <input type="text" class="form-control form-control-sm" id="url" name="stream[url]" placeholder="Stream Url..." value=""
                                        required>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Audio codec</label>
                                            <input type="text" class="form-control form-control-sm" id="audio_codec" name="stream[audio_codec]" placeholder="Audio codec..."
                                                value="copy" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Video size</label>
                                            <input type="text" class="form-control form-control-sm" id="video_size" name="stream[video_size]" placeholder="Video size..."
                                                value="640x?" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Format</label>
                                            <input type="text" class="form-control form-control-sm" id="format" name="stream[format]" placeholder="format..." value="flv"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col">

                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Audio bitrate</label>
                                            <input type="text" class="form-control form-control-sm" id="audio_bitrate" name="stream[audio_bitrate]" placeholder="Audio bitrate..."
                                                value="128k" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label">Video bitrate</label>
                                            <input type="text" class="form-control form-control-sm" id="video_bitrate" name="stream[video_bitrate]" placeholder="Video bitrate..."
                                                value="400k" required>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group ">
                                            <label for="name" class="col-sm-2 control-label">Audio resolution</label>
                                            <input type="text" class="form-control form-control-sm" id="audio_resolution" name="stream[audio_resolution]" placeholder="Audio resolution..."
                                                value="22050" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12 text-right">
                                        <input id="submit" name="submit" type="submit" value="Stream" class="btn btn-outline-primary btn-sm">
                                        <input id="info-stream-btn" name="submit" type="button" value="Video Info" class="btn btn-outline-info btn-sm">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <! Will be used to display an alert to the user>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <% include ../partials/player %>
                    </div>
                    <% include ../partials/shellOutput %>
                </section>
            </div>

            <% include ../partials/footer %>
                <script src="flv.min.js"></script>
                <script src="player.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>