<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body data-spy="scroll" data-target="#navbar-example">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">
       
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="/socket.io/socket.io.js"></script>

</body>

</html>